openapi: 3.0.3
info:
  title: R2R Scorecards External API Surface
  version: 1.0.0
  description: |
    Swagger/OpenAPI contract for API endpoints consumed by the iOS app.
    This repository does not expose its own backend routes; endpoints here are
    third-party providers called by app services.

    Sources:
    - r2rscorecards/Services/BoxingAPIService.swift
    - r2rscorecards/Services/BoxerIndexService.swift
    - r2rscorecards/Supabase/*.swift

tags:
  - name: BoxingData
    description: RapidAPI Boxing Data endpoints used for schedule queries.
  - name: TheSportsDB
    description: Public TheSportsDB endpoints used for boxer/event lookup.
  - name: SupabaseAuth
    description: Supabase Auth endpoints used through the SDK.
  - name: SupabaseRest
    description: Supabase PostgREST endpoints used through the SDK.
  - name: SupabaseRpc
    description: Supabase RPC functions used through the SDK.
  - name: SupabaseRealtime
    description: Supabase Realtime read/write interactions.

servers:
  - url: https://boxing-data-api.p.rapidapi.com
    description: RapidAPI Boxing Data
  - url: https://www.thesportsdb.com/api/v1/json/3
    description: TheSportsDB free v1
  - url: https://yjxmwktfpzhvinziiuji.supabase.co
    description: Supabase project endpoint

paths:
  /v1/events/schedule:
    get:
      tags: [BoxingData]
      operationId: getBoxingDataSchedule
      summary: Get scheduled boxing events
      description: Used for upcoming fights, recent past fights, and search prefetch.
      parameters:
        - in: query
          name: days
          required: true
          schema:
            type: integer
          description: Number of future days to include.
        - in: query
          name: past_hours
          required: true
          schema:
            type: integer
          description: Number of past hours to include.
        - in: query
          name: date_sort
          required: true
          schema:
            type: string
            enum: [ASC, DESC]
        - in: query
          name: page_num
          required: true
          schema:
            type: integer
        - in: query
          name: page_size
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: Array of boxing events
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/BoxingDataFight"
        default:
          $ref: "#/components/responses/GenericError"
      security:
        - RapidApiHeaders: []

  /searchplayers.php:
    get:
      tags: [TheSportsDB]
      operationId: searchSportsDbPlayers
      summary: Search boxer profiles
      parameters:
        - in: query
          name: p
          required: true
          schema:
            type: string
          description: Boxer name search term.
        - in: query
          name: s
          required: true
          schema:
            type: string
            enum: [Boxing]
      responses:
        "200":
          description: Player search response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TSDBSearchResponse"
        default:
          $ref: "#/components/responses/GenericError"

  /lookupplayer.php:
    get:
      tags: [TheSportsDB]
      operationId: lookupSportsDbPlayer
      summary: Get boxer profile by player id
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Single player lookup response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TSDBSearchResponse"
        default:
          $ref: "#/components/responses/GenericError"

  /searchevents.php:
    get:
      tags: [TheSportsDB]
      operationId: searchSportsDbEvents
      summary: Search events by fighter id or event title
      parameters:
        - in: query
          name: p
          required: false
          schema:
            type: string
          description: TheSportsDB player id (used for fighter history).
        - in: query
          name: e
          required: false
          schema:
            type: string
          description: Event name query (used for title search).
        - in: query
          name: s
          required: true
          schema:
            type: string
            enum: [Boxing]
      responses:
        "200":
          description: Event search response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TSDBEventsResponse"
        default:
          $ref: "#/components/responses/GenericError"

  /eventsnextleague.php:
    get:
      tags: [TheSportsDB]
      operationId: getSportsDbNextLeagueEvents
      summary: Get upcoming boxing league events
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
            example: "4424"
      responses:
        "200":
          description: Upcoming events response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TSDBEventsResponse"
        default:
          $ref: "#/components/responses/GenericError"

  /eventspastleague.php:
    get:
      tags: [TheSportsDB]
      operationId: getSportsDbPastLeagueEvents
      summary: Get recently completed boxing league events
      parameters:
        - in: query
          name: id
          required: true
          schema:
            type: string
            example: "4424"
      responses:
        "200":
          description: Past events response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TSDBEventsResponse"
        default:
          $ref: "#/components/responses/GenericError"

  /auth/v1/signup:
    post:
      tags: [SupabaseAuth]
      operationId: supabaseSignUpEmailPassword
      summary: Create account with email/password
      security:
        - SupabaseApiKey: []
      responses:
        "200":
          description: Session/user created
        default:
          $ref: "#/components/responses/GenericError"

  /auth/v1/token:
    post:
      tags: [SupabaseAuth]
      operationId: supabaseSignInEmailPassword
      summary: Sign in using password grant
      parameters:
        - in: query
          name: grant_type
          required: true
          schema:
            type: string
            enum: [password]
      security:
        - SupabaseApiKey: []
      responses:
        "200":
          description: Session token issued
        default:
          $ref: "#/components/responses/GenericError"

  /auth/v1/logout:
    post:
      tags: [SupabaseAuth]
      operationId: supabaseSignOut
      summary: Sign out current session
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Session terminated
        default:
          $ref: "#/components/responses/GenericError"

  /auth/v1/recover:
    post:
      tags: [SupabaseAuth]
      operationId: supabasePasswordRecovery
      summary: Send reset password email
      security:
        - SupabaseApiKey: []
      responses:
        "200":
          description: Recovery email accepted
        default:
          $ref: "#/components/responses/GenericError"

  /auth/v1/user:
    put:
      tags: [SupabaseAuth]
      operationId: supabaseUpdateUser
      summary: Update authenticated user profile/password
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: User updated
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/profiles:
    get:
      tags: [SupabaseRest]
      operationId: getProfiles
      summary: Query profile records
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Profile list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SupabaseProfile"
        default:
          $ref: "#/components/responses/GenericError"
    patch:
      tags: [SupabaseRest]
      operationId: updateProfile
      summary: Update profile values
      security:
        - SupabaseBearer: []
      responses:
        "204":
          description: Updated
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/friend_groups:
    get:
      tags: [SupabaseRest]
      operationId: getFriendGroups
      summary: Query friend groups
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Group list
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags: [SupabaseRest]
      operationId: createFriendGroup
      summary: Create a friend group
      security:
        - SupabaseBearer: []
      responses:
        "201":
          description: Created
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/group_members:
    get:
      tags: [SupabaseRest]
      operationId: getGroupMembers
      summary: Query group memberships
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Group member list
        default:
          $ref: "#/components/responses/GenericError"
    delete:
      tags: [SupabaseRest]
      operationId: removeGroupMember
      summary: Remove group membership by filters
      security:
        - SupabaseBearer: []
      responses:
        "204":
          description: Deleted
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/friend_requests:
    get:
      tags: [SupabaseRest]
      operationId: getFriendRequests
      summary: Query friend requests
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Request list
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags: [SupabaseRest]
      operationId: createFriendRequest
      summary: Create friend request
      security:
        - SupabaseBearer: []
      responses:
        "201":
          description: Created
        default:
          $ref: "#/components/responses/GenericError"
    patch:
      tags: [SupabaseRest]
      operationId: updateFriendRequest
      summary: Update friend request status
      security:
        - SupabaseBearer: []
      responses:
        "204":
          description: Updated
        default:
          $ref: "#/components/responses/GenericError"
    delete:
      tags: [SupabaseRest]
      operationId: deleteFriendRequest
      summary: Delete/cancel friend request
      security:
        - SupabaseBearer: []
      responses:
        "204":
          description: Deleted
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/friendships:
    get:
      tags: [SupabaseRest]
      operationId: getFriendships
      summary: Query friendship relationships
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Friendship list
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags: [SupabaseRest]
      operationId: createFriendships
      summary: Insert one or more friendship rows
      security:
        - SupabaseBearer: []
      responses:
        "201":
          description: Created
        default:
          $ref: "#/components/responses/GenericError"
    delete:
      tags: [SupabaseRest]
      operationId: deleteFriendship
      summary: Remove a friendship row
      security:
        - SupabaseBearer: []
      responses:
        "204":
          description: Deleted
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/fights:
    get:
      tags: [SupabaseRest]
      operationId: getFights
      summary: Query fights
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Fight list
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags: [SupabaseRest]
      operationId: createFight
      summary: Insert imported/manual fight
      security:
        - SupabaseBearer: []
      responses:
        "201":
          description: Created
        default:
          $ref: "#/components/responses/GenericError"
    patch:
      tags: [SupabaseRest]
      operationId: updateFight
      summary: Update fight status
      security:
        - SupabaseBearer: []
      responses:
        "204":
          description: Updated
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/fight_crowd_scores:
    get:
      tags: [SupabaseRest]
      operationId: getFightCrowdScores
      summary: Query aggregated crowd scores by fight
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Aggregates list
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/fight_demographic_scores:
    get:
      tags: [SupabaseRest]
      operationId: getFightDemographicScores
      summary: Query demographic score aggregates by fight/dimension
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Aggregates list
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/scorecards:
    get:
      tags: [SupabaseRest]
      operationId: getScorecards
      summary: Query user/group scorecards
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Scorecard list
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags: [SupabaseRest]
      operationId: createScorecard
      summary: Create scorecard for fight/user/group
      security:
        - SupabaseBearer: []
      responses:
        "201":
          description: Created
        default:
          $ref: "#/components/responses/GenericError"
    patch:
      tags: [SupabaseRest]
      operationId: updateScorecard
      summary: Mark scorecard submitted
      security:
        - SupabaseBearer: []
      responses:
        "204":
          description: Updated
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/round_scores:
    get:
      tags: [SupabaseRest]
      operationId: getRoundScores
      summary: Query round scores for scorecard
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Round score list
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags: [SupabaseRest]
      operationId: upsertRoundScores
      summary: Upsert round-level scores
      security:
        - SupabaseBearer: []
      responses:
        "201":
          description: Upserted
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/live_group_round_scores:
    get:
      tags: [SupabaseRealtime]
      operationId: getLiveGroupRoundScores
      summary: Seed current live round scores for collaborative scoring
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Live score rows
        default:
          $ref: "#/components/responses/GenericError"
    post:
      tags: [SupabaseRealtime]
      operationId: upsertLiveGroupRoundScores
      summary: Publish/merge live round score updates
      security:
        - SupabaseBearer: []
      responses:
        "201":
          description: Upserted
        default:
          $ref: "#/components/responses/GenericError"

  /rest/v1/rpc/generate_invite_code:
    post:
      tags: [SupabaseRpc]
      operationId: generateInviteCode
      summary: Generate unique group invite code
      security:
        - SupabaseBearer: []
      responses:
        "200":
          description: Invite code generated
          content:
            application/json:
              schema:
                type: string
                example: "A1B2C3"
        default:
          $ref: "#/components/responses/GenericError"

components:
  securitySchemes:
    RapidApiHeaders:
      type: apiKey
      in: header
      name: X-RapidAPI-Key
      description: Requires `X-RapidAPI-Key` and `X-RapidAPI-Host`.
    SupabaseApiKey:
      type: apiKey
      in: header
      name: apikey
      description: Supabase anon key.
    SupabaseBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    GenericError:
      description: Provider-specific error response.

  schemas:
    BoxingDataFight:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
          nullable: true
        date:
          type: string
          nullable: true
        venue:
          type: string
          nullable: true
        location:
          type: string
          nullable: true
        poster_image_url:
          type: string
          nullable: true
        updated_at:
          type: string
          nullable: true
        fighter1:
          type: string
          nullable: true
        fighter2:
          type: string
          nullable: true
        weight_class:
          type: string
          nullable: true
      required: [id]

    TSDBSearchResponse:
      type: object
      properties:
        players:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/TSDBPlayer"

    TSDBEventsResponse:
      type: object
      properties:
        results:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/TSDBEvent"
        events:
          type: array
          nullable: true
          items:
            $ref: "#/components/schemas/TSDBEvent"

    TSDBPlayer:
      type: object
      properties:
        idPlayer:
          type: string
          nullable: true
        strPlayer:
          type: string
          nullable: true
        strNationality:
          type: string
          nullable: true
        dateBorn:
          type: string
          nullable: true
        strBirthLocation:
          type: string
          nullable: true
        strDescriptionEN:
          type: string
          nullable: true
        strThumb:
          type: string
          nullable: true
        strCutout:
          type: string
          nullable: true
        strHeight:
          type: string
          nullable: true
        strWeight:
          type: string
          nullable: true
        intLoved:
          type: string
          nullable: true

    TSDBEvent:
      type: object
      properties:
        idEvent:
          type: string
          nullable: true
        strEvent:
          type: string
          nullable: true
        dateEvent:
          type: string
          nullable: true
        strTime:
          type: string
          nullable: true
        strVenue:
          type: string
          nullable: true
        strCity:
          type: string
          nullable: true
        strCountry:
          type: string
          nullable: true
        intRound:
          type: string
          nullable: true
        strResult:
          type: string
          nullable: true
        strHomeTeam:
          type: string
          nullable: true
        strAwayTeam:
          type: string
          nullable: true
        intHomeScore:
          type: string
          nullable: true
        intAwayScore:
          type: string
          nullable: true
        strSeason:
          type: string
          nullable: true
        strThumb:
          type: string
          nullable: true
        strBanner:
          type: string
          nullable: true
        strStatus:
          type: string
          nullable: true
        strPostponed:
          type: string
          nullable: true
        strDescriptionEN:
          type: string
          nullable: true

    SupabaseProfile:
      type: object
      description: Schema varies with DB migration state; this is a minimal shape.
      properties:
        id:
          type: string
        email:
          type: string
          nullable: true
        display_name:
          type: string
          nullable: true
